.herospace {
  position: relative;
}

.herospace__image {
  padding: 40px 0 0;
}

.herospace__image__content {
  height: 100vw;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}

.herospace__image__content img {
  border-radius: 40px;
  overflow: hidden;
}

.herospace__content {
  width: 100%;
  padding: 24px 0 0;
}

.herospace__title {
  font-size: 24px;
  line-height: 27px;
  color: var(--black-color);
  font-weight: 500;
  padding-top: 90px;
  max-width: 320px;
}

.herospace__title::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

@media only screen and (min-width: 1024px) {
  .herospace__title {
    padding-top: 30px;
    font-size: 32px;
    line-height: 36px;
    max-width: 500px;
    padding-left: 16.6%;
    box-sizing: content-box;
  }

  .herospace__image {
    position: relative;
  }

  .herospace__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .herospace__image__content {
    height: 625px;
  }
}

@media only screen and (min-width: 1280px) {
  .herospace__title {
    padding-top: 25px;
    font-size: 36px;
    line-height: 39px;
  }

  .herospace__image {
    padding: 140px 0 0;
  }
}
