.menu {
  align-items: center;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
}

.menu__wrapper {
  padding: 64px 16px;
}

.menu__nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.menu__nav button {
  background-color: transparent;
  border: 0 none;
  color: var(--white-color);
  cursor: pointer;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .menu__show {
    opacity: 1;
    pointer-events: inherit;
  }

  .menu__wrapper {
    padding: 0;
  }
}
