.visions__content {
  padding-top: 32px;
}

.visions h2 {
  color: var(--black-color);
  font-size: 38px;
  font-weight: 500;
  line-height: 43px;
  position: relative;
}

.visions h2::selection,
.visions h2 span::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.visions__content p {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding-bottom: 32px;
}

.visions__content p::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.visions__content .visions__talk {
  align-items: center;
  background: var(--black-color);
  border-radius: 21px;
  color: var(--white-color);
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  height: 42px;
  padding: 0 24px;
  text-transform: uppercase;
}

.visions__content .visions__talk::selection {
  background-color: var(--black-color);
}

.visions__content .visions__talk svg {
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
}

.visions__content .visions__talk:hover svg {
  left: 5px;
}

@media only screen and (min-width: 768px) {
  .visions h2 {
    font-size: 62px;
    line-height: 65px;
  }

  .visions__content {
    padding-top: 64px;
  }
}

@media only screen and (min-width: 1024px) {
  .visions h2 {
    font-size: 100px;
    line-height: 120px;
  }

  .visions h2 span {
    display: block;
    padding-left: 16.6%;
  }

  .visions__content {
    padding-left: 58%;
    padding-top: 80px;
  }

  .visions__content p {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .visions h2 {
    font-size: 124px;
    line-height: 154px;
  }
}
