.footer {
  padding: 20px 16px 40px;
  width: 100%;
}

.footer__wrapper {
  padding-bottom: 80px;
}

.footer__content {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
  padding-top: 80px;
}

.footer__content li {
  padding-top: 64px;
}

.footer__content li::selection,
.footer__content li a::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.footer__content li:first-child {
  padding-top: 0;
}

.footer__content__address {
  grid-area: address;
}

.footer__content__social {
  grid-area: social;
}

.footer__content__business {
  grid-area: business;
}

.footer__content__contact {
  grid-area: contact;
}

.footer__copyright small {
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.footer__copyright small::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding-top: 60px;
  }

  .footer__content li {
    padding-top: 0;
  }

  .footer__content li:last-child {
    padding-top: 0;
  }

  .footer__content {
    display: grid;
    font-size: 18px;
    grid-template-areas: 'address social contact';
    grid-template-columns: repeat(3, 1fr);
    line-height: 22px;
    padding-top: 0;
  }

  .footer__content a:hover {
    text-decoration: underline;
  }

  .footer__content .footer__content__social {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 60px 60px 40px;
  }
}
