.footer {
  background: var(--secondary-color);
  height: 50px;
  width: 100%;
}

.footer__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__link {
  color: var(--font-color);
  font-size: 15px;
  font-weight: 600;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__social {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.footer__social__link {
  height: 30px;
  width: 30px;
}

.footer__social__link a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.footer__social__link a::before {
  color: var(--font-color);
  font-size: 18px;
}


@media only screen and (min-width: 768px) {
  .footer {
    height: 65px;
  }

  .footer__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__social__link a::before {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1024px) {
  .footer__wrapper {
    margin: 0 auto;
  }

  .footer__link {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 65px;
    transition: color .3s ease-in-out;
  }

  .footer__link:hover {
    color: var(--font-color-hover);
  }

  .footer__social {
    gap: 3px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer__wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
}
