.projects {
  background: var(--black-color);
  padding: 60px 20px 40px;
}

.projects__header {
  color: var(--white-color);
}

.projects__header h2 {
  font-size: 62px;
  font-weight: 500;
}

.projects__header h2::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

.projects__header p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}

.projects__list {
  padding-top: 64px;
  gap: 32px;
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 1024px) {
  .projects {
    padding-top: 100px;
  }

  .projects__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }

  .projects__header h2 {
    font-size: 100px;
    line-height: 120px;
    padding: 0;
  }

  .projects__header p {
    max-width: 90%;
    padding-top: 30px;
  }

  .projects__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 20px;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .projects {
    padding: 100px 60px 0;
  }

  .projects__header h2 {
    font-size: 124px;
    line-height: 154px;
  }
}