.header {
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 20px;
  z-index: 1;
}

.header__lg {
  text-transform: uppercase;
}

.header__lg::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.header__buttons {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.header__talk {
  align-items: center;
  background: var(--black-color);
  border-radius: 21px;
  border: 0 none;
  color: var(--white-color);
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  height: 42px;
  margin-left: auto;
  padding: 0 25px;
  text-transform: uppercase;
  width: auto;
}

.header__talk::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

.header__talk svg {
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
}

.header__talk:hover svg {
  left: 5px;
}

.header__menu {
  background-color: var(--grey-color);
  border-radius: 100%;
  border: 0 none;
  cursor: pointer;
  display: none;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.header__menu small {
  display: none;
  font-size: 14px;
  font-weight: 500;
  padding-right: 8px;
  text-transform: uppercase;
}

.header__menu small::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

.header__menu span {
  background-color: var(--black-color);
  display: block;
  height: 2px;
  position: relative;
  top: 12px;
  width: 18px;
}

.header__menu span::before {
  background-color: var(--black-color);
  bottom: -6px;
  content: '';
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

@media only screen and (min-width: 1024px) {
  .header {
    height: 124px;
  }

  .header__menu {
    display: flex;
  }

  .header__lg {
    font-size: 18px;
  }

  .header__talk {
    display: flex;
  }

  .header__menu {
    align-items: center;
    border-radius: 21px;
    height: 42px;
    padding: 0 25px;
    width: auto;
  }

  .header__menu span {
    top: -4px;
  }

  .header__menu small {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .header__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
