* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1 1;
}

h1, h2, h3, h4 ,h5 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --grey-color: #e3e6ef;
  --black-color: #000;
  --white-color: #fff;
  --light-black-color: #2b2e3a;
}
