.team h2 {
  color: var(--black-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}

.team h2::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.team__list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding-top: 44px;
}

@media only screen and (min-width: 768px) {
  .team h2 {
    font-size: 62px;
    line-height: 65px;
  }

  .team__list {
    padding-top: 64px;
  }
}

@media only screen and (min-width: 1024px) {
  .team h2 {
    font-size: 100px;
    line-height: 120px;
    text-align: center;
  }

  .team__list {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .team h2 {
    font-size: 124px;
    line-height: 154px;
  }
}
