.contact {
  align-items: center;
  background: var(--black-color);
  display: flex;
  flex-direction: column;
  padding: 140px 16px;
}

.contact span {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}

.contact span::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

.contact h2 {
  color: var(--white-color);
  font-size: 60px;
  font-weight: 500;
  line-height: 64px;
  text-align: center;
}

.contact h2::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

.contact__cta {
  padding-top: 64px;
}

.contact__cta a {
  align-items: center;
  background-color: var(--grey-color);
  border-radius: 32px;
  color: var(--light-black-color);
  display: flex;
  font-weight: 500;
  gap: 8px;
  height: 64px;
  justify-content: center;
  padding: 0 24px;
  text-transform: uppercase;
}

.contact__cta a::selection {
  background-color: var(--black-color);
  color: var(--grey-color);
}

.contact__cta svg {
  fill: var(--light-black-color);
  left: 0;
  position: relative;
  top: 0;
  transition: left .3s ease-in-out;
}

.contact__cta:hover svg {
  left: 5px;
}

@media only screen and (min-width: 768px) {
  .contact h2 {
    font-size: 62px;
    line-height: 65px;
  }
}

@media only screen and (min-width: 1024px) {
  .contact {
    padding: 200px 0;
  }

  .contact span {
    font-size: 18px;
    padding-bottom: 60px;
  }

  .contact h2 {
    font-size: 138px;
    line-height: 142px;
    max-width: 780px;
  }

  .contact__cta {
    padding-top: 100px;
  }
}
