.cursor {
  background-color: var(--black-color);
  border-radius: 50%;
  display: none;
  height: 15px;
  pointer-events: none;
  position: fixed;
  width: 15px;
  z-index: 1000;
}

@media only screen and (min-width: 1024px) {
  .cursor {
    display: block;
  }
}
