.projectCard {
  color: var(--white-color);
}

.projectCard__image {
  align-items: center;
  aspect-ratio: 4/3;
  background: var(--grey-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.projectCard__image img {
  object-fit: cover;
}

.projectCard p {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  font-weight: 500;
  padding: 24px 0 16px;
}

.projectCard p::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

.projectCard h3 {
  font-size: 22px;
  font-weight: 500;
}

.projectCard h3::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

@media only screen and (min-width: 1024px) {
  .projectCard p {
    font-size: 18px;
    padding: 32px 0 16px;
  }

  .projectCard h3 {
    font-size: 32px;
  }
}
