.serviceCard {
  background-color: var(--grey-color);
  border-radius: 40px;
  padding: 40px;
}

.serviceCard h3 {
  color: var(--black-color);
  font-size: 22px;
  font-weight: 500;
  padding: 0 0 16px;
}

.serviceCard h3::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.serviceCard p {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.serviceCard p::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}

.serviceCard ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  list-style-type: none;
  padding-top: 15px;
}

.serviceCard ul li::before {
  background-color: var(--black-color);
  border-radius: 100%;
  content: '';
  display: inline-block;
  height: 5px;
  margin-right: 5px;
  position: relative;
  top: -3px;
  width: 5px;
}

.serviceCard ul li::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}
